<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
        <title>Contact</title>
        


        <link rel="stylesheet" href="../content/css/abstract/brands.min.css">
        <link rel="stylesheet" href="../content/css/abstract/bootstrap.min.css">   
        <link rel="stylesheet" href="../content/css/style.css">
    </head>
    <body>
         <header class="main-header">
            <nav class="navbar navbar-expand-md">
                <div class="container justify-content-around">
                    <a class="navbar-brand" href="#">
                        <img src="../content/assets/image/logo.png"> 
                        <span>Cafe House</span>
                    </a>
                    <div>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item "><a class="nav-link active"  href="index.html">Home</a></li>
                                <li class="nav-item"><a class="nav-link" href="today.html">Today Speacial</a></li>
                                <li class="nav-item"><a class="nav-link" href="menue.html">Menue</a></li>
                                <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
            <div class="header-content">
                <div class="container">
                    <div class="light">
                        <img src="../content/assets/image/light.png" />
                        <img src="../content/assets/image/light.png" />
                        <img src="../content/assets/image/light.png" />
                    </div>
                    <div class="header-2">
                        <div >
                            <img src="../content/assets/image/header-line.png" />
                            <h1>Contact Us</h1>
                            <img src="../content/assets/image/header-line.png" />
                        </div>
                        <h3>CAFE HOUSE</h3>
                        <p>Cafe House template is a mobile-friendly <span>responsive Bootstrap </span>
                            ayout by <span>templatemo</span>. Lorem ipsum dolor sit amet,
                            consectetuer adipiscing elit.
                            Aenean commodo ligula eget dolor. Aenean massa. 
                            Cum sociis natoque penatibus et magnis dis parturient montes,
                            nascetur ridiculusnec quam felis, ultricies nec, pellentesque eu,
                            pretium quis, sem.
                            
                        </p>
                        <button class="main-button">MESSAGE US</button>
                    </div>
                    <div class="welcome-container-table">
                        <img src="../content/assets/image/table-set.png"/>
                    </div>
                </div>
            </div>
        </header>
        


        <section class="contact" >
            <div class="container">
                <h2>Send us a message</h2>   
                <div class="row">
                    <div class="col-lg-8 col-12">
                        <form>
                            <input class="form-control mr-2"  type="text" placeholder="Name..">
                            <input class="form-control mr-2" type="email" placeholder="Email..">
                            <input class="form-control mr-2" type="email" placeholder="Subject..">
                            <textarea class="form-control mr-2" name="" placeholder="Message..." id="" cols="30" rows="6"></textarea>
                            <button class=" main-button">SEND MESSAGE</button>
                        </form>
                    </div>

                    <div class="col-lg-4 col-12">
                        <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCt8GZDh-dPzB3Zf0N3j66fjKD2ndSWJiM&q=مصر"></iframe>
                    </div>
                </div>
            </div>
        </section>

        <footer >
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-4 my-2">
                        <h3>Main Menue</h3>
                        <ul>
                            <li><a href="#">HOME</a></li>
                            <li><a href="#">ABOUT US</a></li>    
                            <li><a href="#">DIRECTORY</a></li>
                            <li><a href="#">BLOG</a></li>
                            <li><a href="#">OUR SERVICES</a></li>
                        </ul>
                    </div>

                    <div class="col-12 col-md-4 my-2">
                        <h3>About Us</h3>
                        <p>
                            Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.
                            Aliquam lorem ante, dapibus in, viverra quis,
                            feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.
                        </p>
                        <p>
                            Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id
                            , lorem. Maecenas nec odio et ante tincidunt tempus.
                            Donec vitae sapien ut libero venenatis faucibus.
                        </p>
                    </div>

                    <div class="col-12 col-md-4 my-2">
                        <h3>Get Social</h3>
                        <p>
                            Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac,
                            enim. Aliquam lorem ante.
                        </p>
                        <div class="row">
                            <div class="social col-12">
                                <a href="#" ><i class="fab fa-facebook"></i></a>
                                <a href="#" ><i class=" fab fa-twitter"></i></a>
                                <a href="#" ><i class=" fab fa-linkedin"></i></a>
                                <a href="#" ><i class="fab fa-youtube"></i></a>
                                <a href="#" ><i class="fab fa-behance"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <div class="copyright">
            <span>Copyright © 2084 Your Cafe House</span>
        </div>
        <script src="../content/js/abstract/all.min.js"></script>
        <script src="../content/js/abstract/bootstrap.bundle.min.js"></script>
    </body>
</html> 